# Dataset
Data

# Model
model

# Environments
.venv/
venv/
env/
.env

# Python cache files
__pycache__/
*.pyc

# Local databases
*.sqlite3
*.db

# media and static files
staticfiles/
media/

# IDE / OS specific
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log